@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F8F5E4; /* Branco */
  overflow-x: hidden; /* Oculta a barra de rolagem horizontal */
}

main {
  margin: 40px auto; /* Aumenta o espaçamento superior e inferior */
  max-width: 80%; /* Alterado para ocupar no máximo 80% da largura */
  background-color: #F8F5E4; /* Branco */
  box-sizing: border-box;
}

.header-link {
  font-size: 26px;
  color: #212427; /* Cor do link */
  text-decoration: none; /* Remover sublinhado */
  margin-right: 20px; /* Espaçamento à direita */
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Fjalla One', sans-serif;
}

.header-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
}

#link-text:hover::before {
  transform: scaleX(1);
}

#link-text:hover {
  color: #539165; /* Cor do link ao passar o mouse */
  transform: scaleX(1);
}

#link-text::before {
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  background-color: #212427;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #F8F5E4; /* Laranja */
  border-bottom: 1px solid #212427;
}

.header-links {
  color: #212427; /* Cor do link */
  text-decoration: none; /* Remover sublinhado */
  font-weight: bold; /* Negrito */
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.header-links img {
  max-width: 200px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ocupa toda a largura disponível */
  max-width: 300px;
  margin: 0 auto;
  padding: 20px; /* Adiciona um espaçamento interno */
}

.login-title {
  font-size: 36px;
  color: #212427; /* Cor do título */
  margin-bottom: 20px;
  font-family: 'Fjalla One', sans-serif;
  text-align: center; /* Centraliza o texto */
}

.login-input {
  width: 100%; /* Ocupa toda a largura disponível */
  max-width: 300px;
  height: 40px;
  margin-bottom: 10px;
  padding: 8px;
  border: 2px solid #539165; /* Cor da borda */
  border-radius: 4px;
  font-size: 16px;
}

.login-button {
  width: 100%; /* Ocupa toda a largura disponível */
  max-width: 300px;
  height: 40px;
  background-color: #539165; /* Cor do botão */
  color: #F8F5E4; /* Cor do texto do botão */
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #407852; /* Cor do botão ao passar o mouse */
}

.login-button:focus {
  outline: none;
}

.login-message {
  margin-top: 40px;
  padding: 20px;
  background-color: #F8F5E4; /* Branco */
  border: none; /* Remover borda */
  box-shadow: none; /* Remover box shadow */
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212427; /* Cor do texto da mensagem */
}

.login-message.negativo {
  color: #FC3503; /* Vermelho */
}

.login-message.atencao {
  color: #F7C04A; /* Laranja */
}

.login-message.positivo {
  color: #539165; /* Verde */
}

.toggle-mode-container {
  margin-top: 40px; /* Aumenta o espaçamento superior */
}

.toggle-mode-button {
  width: 150px;
  height: 30px;
  background-color: #539165; /* Cor do botão */
  color: #F8F5E4; /* Cor do texto do botão */
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.toggle-mode-button:hover {
  background-color: #407852; /* Cor do botão ao passar o mouse */
}

.toggle-mode-button:focus {
  outline: none;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 4px;
  margin-bottom: 40px; /* Aumenta o espaçamento inferior */
  padding: 20px; /* Adiciona um espaçamento interno */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.coluna-esq,
.coluna-dir {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha à esquerda */
  justify-content: center;
  flex-basis: 50%; /* Ocupa metade da largura */
}

section.despesas {
  border: 1px solid #F7C04A !important; /* Laranja */
  box-shadow: 0 4px 6px rgba(247, 192, 74, 0.5) !important; /* Sombra laranja */
}

section.receita {
  border: 1px solid #539165 !important; /* Verde */
  box-shadow: 0 4px 6px rgba(83, 145, 101, 0.5) !important; /* Sombra verde */
}

section.saldo {
  border: 3px solid #212427 !important;
}

section.saldo-final p {
  font-size: 58px;
  font-weight: 900;
  text-align: center;
  padding: 10px;
}

h2 {
  margin-top: 0;
}

.input-box {
  border: 2px solid #539165;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  color: #212427;
  background-color: transparent;
  font-size: 20px;
  font-weight: 800;
  margin-top: 20px;
  margin-left: 20px;
}

.mensagem.negativo {
  color: #FC3503; /* Vermelho */
  font-size: 40px;
}

.mensagem.atencao {
  color: #F7C04A; /* Laranja */
  font-size: 40px;
}

.mensagem.positivo {
  color: #539165; /* Verde */
  font-size: 40px;
}

.mensagem {
  margin-top: 40px; /* Aumenta o espaçamento superior */
  margin-bottom: 80px;
  padding: 20px; /* Adiciona um espaçamento interno */
  background-color: #F8F5E4; /* Branco */
  border: none; /* Remover borda */
  box-shadow: none; /* Remover box shadow */
  font-size: 50px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(1) {
  background-color: #F8F5E4; /* Branco */
}

section:nth-child(2) {
  background-color: #F8F5E4; /* Branco */
}

section:nth-child(3) {
  background-color: #F8F5E4; /* Branco */
}

footer {
  width: 100%;
  padding: 0px;
  background-color: #212427; /* Preto */
  color: #F8F5E4; /* Branco */
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
}

.titulo-principal {
  text-align: center;
  font-size: 36px;
  color: #212427;
  margin-bottom: 40px; /* Aumenta o espaçamento inferior */
}

.subtitulo {
  font-size: 24px;
  color: #539165;
  margin-bottom: 20px; /* Aumenta o espaçamento inferior */
}

.subtitulo-pequeno {
  font-size: 18px;
  color: #539165;
  margin-bottom: 20px; /* Aumenta o espaçamento inferior */
}

#content {
  font-size: 16px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  main {
    padding: 20px;
    max-width: 100%;
  }

  .login-container {
    padding: 20px;
  }
  
  .login-form {
    max-width: 100%;
  }
  
  .login-input {
    width: 100%;
  }
  
  .login-button {
    width: 100%;
    max-width: 100%;
  }
  
  .input-box {
    width: 100%;
  }

  section {
    padding: 10px;
  }
  
  .mensagem {
    font-size: 30px;
  }
  
  section.despesas,
  section.receita {
    margin-bottom: 10px;
  }
  
  .toggle-mode-button {
    width: 100px;
    font-size: 12px;
  }
}
